
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box
  
  }
body{
  background: linear-gradient(
    to left,
  rgb(24, 17, 4),

  hsl(191, 47%, 21%));

    
}
  /*! NAVBAR */
  .navbar{
    background-color: transparent;
    position: fixed;
    z-index: 5;
    width: 100%;
  }
  
  .navbar .container{
    background-color: #1c444d63;
  }
  
  .navbar-nav{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: bold;
    
    
  }
  .nav-link {
    color: beige !important;
  }
  
  .nav-link:hover,.navbar-brand:hover{
    color: #b46c32 !important;
  }
  
  .navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: beige;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  
  .active{
    color: #b46c32 !important;
  
  }
  
  .active:hover{
    color: rgb(173, 173, 27) !important;
  }
  
  .navbar-toggler{
    border: 2px solid beige;
    
  }

    /*! MENU */

 .liste{
  margin-top: 5rem;
 
 }


 .nav-pills .nav-link.active{
  background-color: rgba(245, 245, 220, 0.63);
  font-weight: bolder;
 }

 .img-thumbnail{
  width: 100%;
  height: 90%;
  padding: 1px;
  background-color: rgb(245, 245, 220);
 
 }


 a{
  position: relative;

 }

h6.fs-4.text-center{
  width: 100%;

  font-size: 40px !important;
  position: absolute;
  top: 0%;
  right: 0%;
 
  cursor: pointer;

 opacity: 0;
}

h6.fs-4.text-center:hover{
 
  color: beige;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.276);
}









.social-icons{
  margin-left: 5rem;
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
}




footer{
  

 color: black;
 text-align: center;

}
